<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:neo4j="http://www.springframework.org/schema/data/neo4j"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/data/neo4j http://www.springframework.org/schema/data/neo4j/spring-neo4j-2.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:component-scan base-package="de.flitzr.spring.neo4j.example" />
	<context:annotation-config />

	<neo4j:repositories base-package="de.flitzr.spring.neo4j.example.dao" />
	<neo4j:config storeDirectory="target/neo4j.db"/>

    <!-- configure @Transactional support for neo4j 1.6 -->
    <!--
    <tx:annotation-driven mode="aspectj"/>
    -->

    <!-- configure @Transactional support for neo4j 1.7 -->
    <bean name="springTransactionManager" class="org.neo4j.kernel.impl.transaction.SpringTransactionManager">
        <constructor-arg ref="graphDatabaseService"/>
    </bean>

    <bean name="userTransaction" class="org.neo4j.kernel.impl.transaction.UserTransactionImpl">
        <constructor-arg ref="springTransactionManager"/>
    </bean>

    <bean id="neo4jTransactionManager" class="org.springframework.transaction.jta.JtaTransactionManager">
        <property name="transactionManager" ref="springTransactionManager" />
        <property name="userTransaction" ref="userTransaction" />
    </bean>

    <tx:annotation-driven mode="aspectj" transaction-manager="neo4jTransactionManager"/>

</beans>
